<div class="container">
    <h1>Password Recovery Request</h1>
    <p>Enter your new password:</p>
    <form action="/session/newUserPassword" method="post">
        <div class="mb-3">
            <label for="email" class="form-label" hidden>Email address</label>
            <input type="email" class="form-control" name="email" value="{{email}}" hidden>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>    
</div>