<div class="container">
    <h1>Password Recovery Request</h1>
    <p>You will receive a link to recover your password to the email you specify, the link will expire in one hour!</p>
    <form action="/session/sendMail" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>    
</div>